/* BASE */
*
{
	margin:0;
	padding: 0;
	font-family: 'Lato', sans-serif;
}

html 
{
  scroll-behavior: smooth;
}

body
{
	background-color: #f2f2f2;
}

h2
{
	color:#505050;
	font-weight: 700;
	font-size: 150%;
	text-align: center;
	margin: 0 0 5% ;
	padding:25px 0px 25px 0px; 
	width: 100%;
	border-top: 1px #E2E2E2 solid;
	border-bottom: 1px #E2E2E2 solid;
}

p
{
	font-size:130%;
}

section:not(#accueil)
{
	padding-top:3.5%;
}

/* HEADER */ 

header
{
	z-index: 999;
	height: 7vh;
	width: 100%;
	background-color: white;
	box-shadow: 0 5px 10px #E2E2E2;
	position: sticky; /* Bloquer le menu une fois passé l'accueil*/
	top: 0;
}

header nav, header ul, header li, header a
{
	height: 100%;
}

header ul
{
	margin:0 5%;
	list-style: none;
	display: flex;
	justify-content: space-around;
}

header li
{
	flex: 1;
}

header a
{
	height: 100%;
	width: 100%;
	text-decoration: none;
	color: grey;
	font-weight: 300;
	font-size: 130%;
	margin-right: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
}

header a:hover
{
	/*background-color: #3b4044;*/
	color: #00cc66;
}

/* FOOTER */
footer
{
	margin-top: 6%;
	height: 80px;
	width: 100%;
	color: #BEBEBE;
	background-color: #E2E2E2;
	display: flex;
	align-items: center;
	justify-content: center;
}

footer a
{
	text-decoration: none;
	color: #BEBEBE;
}
